<div>
  <h1>{{ title }}</h1>
  <input type="file" (change)="onFileChange($event)" />
  <div *ngIf="sheetNames.length > 0">
    <h2>Hojas:</h2>
    <ul>
      <li *ngFor="let sheetName of sheetNames" (click)="selectSheet(sheetName)" [class.selected]="sheetName === selectedSheet">
        {{ sheetName }}
      </li>
    </ul>
  </div>
<!-- app.component.html -->

<div>
  <div *ngIf="excelData.length > 0">
    <input type="text" placeholder="Filtrar datos..." (input)="onFilterTextChange($event)" />

  <table class="tabla-estilizada">
    <thead>
      <tr>
        <th *ngFor="let header of (filteredData && filteredData[0]) || []">{{ header }}</th>
      </tr>
    </thead>
    <tbody *ngIf="filteredData && filteredData.length > 1">
      <tr *ngFor="let row of filteredData.slice(1) | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
