<!-- app-configuracion.component.html -->
<table class="tabla-estilizada">
  <thead>
    <tr>
      <th *ngFor="let header of app.value[0]">{{ header }}</th>
      <th class="acciones-columna">Acciones</th> <!-- Añadir clase CSS -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of app.value.slice(1)">
      <td *ngFor="let cell of row">{{ cell }}</td>
      <td class="acciones-columna">
        <button class="btn-seleccionar" (click)="selectRow(row)">Seleccionar</button> <!-- Botón de selección -->
        <button class="btn-maps" (click)="buscarEnGoogleMaps(row)">Buscar en Google Maps</button> <!-- Botón de búsqueda en Google Maps -->
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="registroSeleccionado">
  <h2>Registro Seleccionado</h2>
  <p *ngFor="let cell of registroSeleccionado">{{ cell }}</p>
</div>
