/* app-configuracion.component.css */
.tabla-estilizada {
  width: 100%;
  border-collapse: collapse;
}

.tabla-estilizada th, .tabla-estilizada td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabla-estilizada th {
  background-color: #f2f2f2;
  text-align: left;
}

.tabla-estilizada tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-estilizada tr:hover {
  background-color: #ddd;
}

.acciones-columna {
  text-align: center;
  width: 200px; /* Ajusta el ancho según sea necesario */
}

.btn-seleccionar, .btn-maps {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
}

.btn-seleccionar:hover, .btn-maps:hover {
  background-color: #0056b3;
}
